TERRA_CHAIN_ID="bombay-10"
TERRA_URL="https://tequila-lcd.terra.dev"
TERRA_GAS_PRICE="0.15uluna"
TERRA_GAS_ADJUSTMENT="1.4"
TERRA_FEE_COLLECTOR="terra1t849fxw7e8ney35mxemh4h3ayea4zf77dslwna"
TERRA_MNEMONIC="forget cluster father know insect gospel firm spring anxiety capable struggle absent apart menu stand grass unknown deal cover key enough bottom mean outside"

ETH_CHAIN_ID="ropsten"
ETH_URL="https://ropsten.infura.io/v3/{API_KEY}"
